@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src:
        url('../fonts/Jost/Jost-SemiBold.woff2') format('woff2'),
        url('../fonts/Jost/Jost-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src:
        url('../fonts/Jost/Jost-Medium.woff2') format('woff2'),
        url('../fonts/Jost/Jost-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src:
        url('../fonts/Jost/Jost-Regular.woff2') format('woff2'),
        url('../fonts/Jost/Jost-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
    box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
    list-style: none;
}

:where(address[class]) {
    font-style: normal;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
    --paragraphMarginBottom: 24px;

    margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями и видео
  */
img,
video,
iframe {
    display: block;
    max-width: 100%;
    /* height: auto; */
    transition: all 0.5s ease-in-out;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
    height: 100%;
    /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара
    */
    scrollbar-gutter: stable;
}

/**
   Плавный скролл
  */
html,
:has(:target) {
    scroll-behavior: smooth;
}

body {
    /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
    min-height: 100%;
    /**
     Унифицированный интерлиньяж
    */
    line-height: 1.5;
}

/**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
a:where([class]) {
    display: initial;
}

/**
   Курсор-рука при наведении на элемент
  */
button,
label {
    cursor: pointer;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут fill со значением 'none' или начинается с 'url')
  */
:where([fill]:not([fill='none'], [fill^='url'])) {
    fill: #000000;
}

/**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут stroke со значением 'none')
  */
:where([stroke]:not([stroke='none'], [stroke^='url'])) {
    stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
    transition-property: fill, stroke;
}

/**
   Приведение рамок таблиц в классический 'collapse' вид
  */
:where(table) {
    border-collapse: collapse;
    border-color: currentColor;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --container-width: 1240px;
    --container-width-wide: 1900px;
    --container-width-small: 768px;
    --container-padding-x: 50px;
    --header-height: 72px;

    --p-padding: 32px;
    --p-padding-big: 50px;

    --margin-y: 32px;

    --color-dark-gray: #2d2d2d;
    --color-gray-blue: #23597b;
    --color-dark-blue: #0d327e;
    --color-red-light: #be2617;

    --button-dark-blue: #2f4858;

    --font-family-base: 'Roboto', sans-serif;
    --font-family-secondary: 'Montserrat', sans-serif;
    --font-family-opensans: 'Open Sans', sans-serif;
    --font-family-jost: 'Jost', sans-serif;
    --font-family-secondary: 'Montserrat', sans-serif;
    --font-family-opensans: 'Open Sans', sans-serif;

    --font-size-base: 20px;

    --border-transparent: 1px solid rgba(0, 0, 0, 0.125);

    --border-radius-base: 0.5rem;
    --border-radius-small: 0.2rem;

    --box-inline-padding: 26px;
}

body {
    font-family: var(--font-family-base);
    color: var(--color-dark-gray);
    background-color: #fff;
    line-height: 1.3;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.medium-title {
    font-size: clamp(30px, 3.94vw, 48px);
    padding-bottom: 80px;
}

.basic-header {
    font-size: clamp(30px, 3.95vw, 48px);
    margin-bottom: 24px;
}

.header-small,
.header-small-padding {
    font-size: 24px;
}

.header-small-padding {
    margin-bottom: 20px;
    color: #242424;
}

.header-medium {
    font-size: clamp(26px, 1.81vw, 34px);
}

.highlight {
    background-color: var(--color-dark-gray);
    color: #fff;
    padding-inline: var(--box-inline-padding);
    border-radius: var(--border-radius-base);
}

.link-arrow {
    color: var(--color-dark-gray);
}

.muted-text,
#muted-text {
    opacity: 0.65;
}

.highlight-text {
    color: #fff;
}

.alternate-link {
    color: var(--color-dark-gray);
}

.padding-y {
    padding-block: 112px;
}

.box-shadow {
    box-shadow: 1px 11px 20px #ccc;
}

.box-shadow-low {
    box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2);
}

.margin-y {
    margin-top: 32px;
}

.margin-top {
    margin-top: 24px;
}

.margin-big {
    margin-top: 80px;
}

.vertical-padding {
    position: relative;
    overflow: hidden;
    margin-bottom: 64px;
    font-size: var(--font-size-base);
    text-align: center;
}

.vertical-padding span {
    display: inline-block;
    margin-block: 4px;
}

.vertical-padding span:nth-child(1) {
    animation: from-right 0.7s ease-in-out forwards;
    transform: translate(0, 0);
    transform-style: preserve-3d;
    opacity: 1;
}

.vertical-padding span:nth-child(3) {
    animation: from-right 0.9s ease-in-out forwards;
    transform: translate(0, 0);
    opacity: 1;
}

.icon-animation {
    animation: icon-scale 0.5s ease-in-out forwards;
}

.left-text-container {
    width: 100%;
    text-align: left;
}

.wide {
    flex-basis: 60%;
    align-self: stretch;
}

.fit-cover {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.text-weight-bold {
    font-weight: 700;
    position: relative;
}

.p-text-size {
    font-size: clamp(15px, 0.95vw, 20px);
}

.width {
    max-width: 35rem;
}

@keyframes icon-scale {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes from-right {
    0% {
        transform: translate(30%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes from-bottom-opacity {
    0% {
        transform: translate(0, 15%);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes grow {
    0% {
        opacity: 0;
        transform: scale(0) rotateY(20deg);
    }
    40% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.9);
    }
    60% {
        opacity: 1;
        transform: scale(1.05);
    }
    70% {
        transform: scale(0.95);
    }
    80% {
        transform: scale(1.02);
    }
    90% {
        transform: scale(0.98) rotateY(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

a {
    text-decoration: none;
    color: #551a8b;
}

.notification {
    background-color: var(--color-dark-blue);
}

.container {
    max-width: calc(var(--container-width) + (var(--container-padding-x) * 2));
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.container-small {
    max-width: calc(
        var(--container-width-small) + (var(--container-padding-x) * 2)
    );
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.notification-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 2rem;
}

.notification-item :is(p, a) {
    margin: 0;
    color: #fff;
    line-height: 1.5;
    position: relative;
}

.notification-num {
    padding-left: 0.5rem;
}

.notification-item a::before {
    content: '';
    display: block;
    width: 21px;
    aspect-ratio: 1/1;
    position: absolute;
    right: 100%;
    top: 0;
    background: url('../icons/phone.png') center/contain no-repeat;
    flex-shrink: 0;
}

.header {
    box-shadow: 0 1px 6px rgba(45, 45, 45, 0.15);
    background-color: #fff;
}

.sticky {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: var(--header-height);
}

.header-menu-list {
    display: flex;
    /* flex-wrap:wrap; */
    column-gap: 0px;
    align-items: center;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.header-menu-item {
    display: inline-flex;
    min-height: var(--header-height);
    align-items: center;
    padding: 8px 16px;
}

.header-menu-item a:not([class]) {
    transition: all 0.3s ease-in-out;
    padding: 10px 10px;
}

.header-menu-item a:not([class]):hover {
    color: #eb1d1d;
    border-radius: var(--border-radius-base);
}

.popover {
    width: 100%;
    position: relative;
    text-align: center;
}

.popover-target {
    display: none;
    width: 100%;
    position: absolute;
    margin-top: 0.7em;
    flex-direction: column;
    background-color: #fff;
    box-shadow:
        rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 10px;
}

.popover-target > button {
    padding-block: 5px;
    margin-block: 3px;
    text-align: center;
    border: 0;
    border-radius: 3px;
    background-color: inherit;
    transition: all 0.3s ease-in-out;
}

.popover:focus-within > .popover-target {
    display: flex;
    z-index: 2;
}

.popover-target > button:hover {
    background-color: rgba(0, 0, 0, 0.123);
}

.popover.responsive-popover {
    display: none;
}

.popover-target:after,
.popover-target:before {
    border: solid transparent;
    content: ' ';
    display: block;
    height: 0;
    position: absolute;
    pointer-events: none;
    width: 0;
    bottom: 100%;
}
.popover-target:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
}

.popover-target::before {
    border-color: rgb(255 255 255 / 0%);
    border-bottom-color: #e4ebed;
    left: 50%;
    margin-left: -12px;
    border-width: 12px;
}

.button-item,
.button-item-large {
    background-color: var(--color-gray-blue);
    color: #fff;
    border: 0;
    border-radius: var(--border-radius-base);
    padding: 8px 26px;
}

.button-item-alternate {
    color: #000;
    background: #fff;
    padding: 12px 32px;
    border-radius: var(--border-radius-base);
    border: 2px solid var(--color-gray-blue);
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.button-item-alternate:hover {
    border-color: #fff;
    background-color: var(--button-dark-blue);
    color: #fff;
}

.button-item.transparent,
.button-item-large.transparent {
    background-color: inherit;
    text-align: center;
    border: 2px solid var(--color-dark-blue);
    color: var(--color-dark-blue);
    transition: all 0.5s ease-in-out;
}

.button-item-large:hover,
.button-item:hover {
    border-color: var(--button-dark-blue);
    background-color: #2f4858;
}

.button-item-large.transparent:hover {
    border-color: var(--button-dark-blue);
    background-color: var(--button-dark-blue);
    color: #fff;
}

.button-item-alternate.transparent {
    background-color: inherit;
    border: 2px solid #fff;
    color: #fff;
}

.menu-toggle {
    display: none;
    opacity: 0;
    z-index: -1;
    overflow: hidden;
    width: 24px;
    position: relative;
    padding: 10px;
}

.menu-icon {
    width: 100%;
    height: 2px;
    background-color: var(--color-gray-blue);
    position: absolute;
    left: 0;
    transition:
        scale 0.1s ease-in-out,
        transform 0.2s ease-in-out;
}

.menu-toggle input[type='checkbox'] {
    display: none;
}

.menu-toggle > .menu-icon:nth-child(3)::before {
    content: '';
    position: absolute;
    transform: translate(0, -8px);
    width: 24px;
    height: 2px;
    background-color: var(--color-gray-blue);
}

.menu-toggle > .menu-icon:nth-child(3)::after {
    content: '';
    position: absolute;
    transform: translate(0, 8px);
    width: 24px;
    height: 2px;
    background-color: var(--color-gray-blue);
}

.menu-toggle:has(:checked) > .menu-icon:nth-child(2) {
    transform: rotate(-45deg);
    /* animation: down-rotate 2.6s ease-in-out forwards; */
}

.menu-toggle:has(:checked) > .menu-icon:nth-child(3) {
    transform: scale(0);
}

.menu-toggle:has(:checked) > .menu-icon:nth-child(4) {
    transform: rotate(45deg);
}

.menu-toggle:has(:checked) + .header-menu-list,
.header-menu-list:has(a:focus-visible) {
    max-height: calc(100vh - 104px);
}

.main-item {
    /* throw attention how height property defines it's not professionally */
    /* min-height: calc(100vh - 104px); */
    width: 100%;
    position: relative;
    column-gap: 60px;
}

.main-item.background {
    background: url('../img/products/HVAC-services.jpg') center/cover no-repeat;
}

.main-item-background {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: calc(100vh - 104px);
}

.main-item-intro,
.experience-title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 38rem;
    z-index: 1;
    position: relative;
    background-color: #fff;
    border-radius: var(--border-radius-base);
    padding: 10px 48px 10px 0;
    margin-block: 16px;
}

.intro-header {
    font-size: clamp(30px, 4.61vw, 60px);
    margin-bottom: var(--p-padding);
}

.intro-description p {
    margin-bottom: var(--p-padding);
    font-size: var(--font-size-base);
}

.main-item-action {
    display: flex;
    width: 100%;
    column-gap: 20px;
}

.main-item-action a {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 32px;
}

.main-item-logo {
    object-fit: cover;
    border-top-left-radius: 200px;
    position: absolute;
    top: 0;
    right: 0;
    width: clamp(45rem, 50%, 100%);
    height: 100%;
    min-height: 320px;
}

.benefits {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.benefits-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.benefits-list {
    display: flex;
    justify-content: center;
}

.benefits-list-item {
    display: flex;
    align-items: center;
    column-gap: 20px;
    position: relative;
    width: calc(100% / 4);
    padding: 24px 16px 24px 24px;
}

.benefits-list-item:not(:last-child)::after {
    content: '';
    width: 2px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 100%;
}

.benefits-list-item h3 {
    font-size: var(--font-size-base);
}

.benefits-title {
    overflow: hidden;
}

.benefits-header {
    transform: translate(100%, 0);
}

.benefits-notice-title {
    width: 100%;
    max-width: 80%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%) translate(0, 0);
    z-index: -1;
    opacity: 0;
    font-size: 11px;
    margin-top: 10px;
    padding: 5px 9px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    background: rgb(227 232 233 / 10%);
    box-shadow: inset 2px 3px 20px 0px #e6ebee21;
}

.benefits-notice-title::before {
    position: absolute;
    top: -10px;
    left: 10%;
    margin-left: -10px;
    content: '';
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(227 232 233 / 10%);
    box-shadow: inset 2px 3px 20px 0px #e6ebee21;
}

.benefits-list-icon {
    display: inline-block;
    transition: all 0.3s ease-in-out;
    transform: scale(0, 0);
    height: auto;
}

.benefits-absolute-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.overlay-background,
.overlay-background-alternate,
.overlay-background-blur {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(
        90deg,
        rgba(47, 72, 88, 0.9),
        rgba(35, 89, 123, 0.9)
    );
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
}

.overlay-background-alternate {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    );
}

.overlay-background-blur {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    );
    backdrop-filter: blur(0);
}

.benefits-absolute-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capabilities {
    position: relative;
}

.capabilities-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.capabilities-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: row;
    column-gap: 48px;
    row-gap: 48px;
}

.capabilities-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    padding-bottom: 20px;
    transition: all 0.5s ease-in-out;
    transform: translate(0, 15%);
    opacity: 0;
}

.capabilities-wide-item {
    grid-column: span 3;
    flex-direction: row;
    padding-bottom: 0;
}

.capabilities-img {
    max-height: 400px;
    overflow: hidden;
}

.capabilities-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-inline: var(--box-inline-padding);
    padding-block: 15px;
}

.capabilities-list-item {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
    margin-block: 32px;
    list-style-type: disc;
    list-style-position: inside;
}

.capabilities-lower-block {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.capabilities-item:hover {
    transform: translate(0, -5%) !important;
}

.capabilities-item:hover .capabilities-img img {
    transform: scale(1.15, 1.15);
}

.banner {
    position: relative;
    overflow: hidden;
}

.banner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 20;
    padding-block: 50px;
    text-align: center;
}

.banner-header {
    /* transform: translate(20%, 0); */
    transition: all 0.5s ease-in-out;
}

.action-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    width: 100%;
}

.contact-action {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
}

.work-process {
    position: relative;
}

.work-stages {
    position: relative;
    text-align: center;
}

.work-stages-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-auto-flow: column;
    align-items: stretch;
    column-gap: var(--margin-y);
}

.work-stage-title h3 {
    font-size: clamp(18px, 1.25vw, 24px);
}

.work-stage-title p {
    font-size: clamp(14px, 0.85vw, 16px);
}

.work-stages-item {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 40px 16px;
}

/* .icon-scale {
  transition: all 0.5s ease-in-out;
  transform: scale(0, 0);
} */

.circle {
    position: absolute;
    top: -2.66em;
    background-color: #ffffff;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding: 10px 10px;
    box-shadow: 0px -11px 20px -14px #ccc;
}

.circle span {
    height: 54px;
    width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
    background-color: #fff;
    border: 1px solid #c91d23;
    color: #c91d23;
    border-radius: 50%;
}

.experience {
    background-color: #edeff3;
    padding-block: var(--p-padding-big);
}

.location-map {
    width: 100%;
    position: relative;
    display: flex;
}

.location-map iframe {
    flex-basis: 100%;
}

.basic-flex-container {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1.25fr;
    grid-auto-flow: row;
    grid-row-gap: 48px;
    column-gap: 5rem;
}

.experience-title {
    padding-inline: 0;
    background-color: inherit;
    max-width: 100%;
    row-gap: 20px;
}

.vertical-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.question-accordion {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.accordion-item {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-gray-blue);
    padding-block: 20px;
    padding-inline: 24px;
    border-radius: var(--border-radius-base);
    overflow: hidden;
}

.accordion-question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.accordion-show {
    outline: 0;
    border: 0;
    background-color: inherit;
}

.acc-answer {
    display: block;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease-in-out;
}

.acc-answer output {
    display: block;
    padding-top: 30px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer {
    padding: 64px 0 32px;
}

.footer-main-inner,
.footer-extra {
    display: flex;
    justify-content: space-between;
}

.footer-left-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 90px;
}

.footer-logo-img {
    height: auto;
}

.footer-menu-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 2;
    row-gap: 20px;
    column-gap: 32px;
}

.footer-menu-list a,
.footer-a-light {
    color: var(--color-gray-blue);
}

.footer-contact {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer-address {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.footer-extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    border-top: 1px solid var(--color-dark-gray);
}

.footer-soc1als-list {
    display: flex;
    column-gap: 18px;
}

.footer-soc1als-link {
    display: flex;
    width: 23px;
}

/* Product.html class section */

.vertical-size {
    min-height: calc(75vh - 104px);
}

.main-item-intro.alternate {
    background-color: inherit;
}

.mouse {
    height: 300px;
    width: auto;
}

.category {
    position: relative;
    overflow: hidden;
}

.select-category {
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 1fr;
    padding-block: 40px;
    column-gap: 25px;
}

.category-nav {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.header-link {
    background-color: var(--color-gray-blue);
    border: var(--color-red-light);
    border-top-left-radius: var(--border-radius-base);
    border-top-right-radius: var(--border-radius-base);
    padding-block: 12px;
    padding-inline: 15px;
    position: relative;
}
/* 
.header-link::before {
  content: '';
  position: relative;
  padding-right: 7px;
} */

.category-types {
    display: flex;
    flex-direction: column;
    font-size: 12.8px;
}

.category-types a {
    color: #232329 !important;
    padding-inline: 6px;
}

.category-items {
    border: var(--border-transparent);
    position: relative;
}

.category-items + .category-items {
    border-top: 0;
}

.dark-link {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    text-align: left;
    padding-block: 10px;
    padding-inline: 10px;
    font-size: 14px;
    font-weight: 300;
    font-family: inherit;
    color: #000000;
    cursor: pointer;
    border: none;
    background: transparent;
    transition: background-color 0.2s linear;
}

.dark-link:focus-visible,
.dropdown-item-list:focus-visible {
    outline-width: 2px;
    outline-offset: -3px;
    outline-style: solid;
    outline-color: #000000;
}

/* .dark-link:focus-within, */
.dark-link:hover {
    background-color: #4b494950;
}

/* .dark-link:focus-within .arrow-icon, */
.dark-link:hover .arrow-icon {
    opacity: 0.8;
}

.arrow-icon {
    transform: rotate(270deg);
    opacity: 0.5;
}

.hover-dropdown {
    width: 400px;
    display: block;
    position: absolute;
    top: 0%;
    left: 100%;
    margin-left: 2px;
    border: var(--border-transparent);
    border-radius: var(--border-radius-small);
    background-color: #ffffff;
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.dropdown-list {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    justify-content: center;
    padding-block: 7px;
    padding-inline: 10px;
    border-radius: var(--border-radius-small);
}

.dropdown-item-list {
    width: 100%;
    display: block;
    position: relative;
    padding: 10px 0px;
    border-radius: var(--border-radius-small);
}

.dropdown-item-list:hover {
    background-color: rgba(206, 201, 201, 0.384);
}

.content-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    grid-auto-flow: row;
}

.category-items:focus-within > .hover-dropdown {
    z-index: 1;
    opacity: 1;
}

/* copied Cards */

.card {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
    transition: 200ms;
    background: #fff;
}
.card .card__title {
    display: flex;
    align-items: center;
    padding: 30px 40px;
}
.card .card__title h3 {
    flex: 0 1 200px;
    text-align: right;
    margin: 0;
    color: #252525;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}
.card .card__title .icon {
    flex: 1 0 10px;
    background: #115dd8;
    color: #fff;
    padding: 10px 10px;
    transition: 200ms;
}
.card .card__title .icon > a {
    color: #fff;
}
.card .card__title .icon:hover {
    background: #252525;
}
.card .card__body {
    padding: 0 40px;
    display: flex;
    flex-flow: row no-wrap;
    margin-bottom: 25px;
}
.card .card__body > .half {
    box-sizing: border-box;
    padding: 0 15px;
    flex: 1 0 50%;
}
.card .card__body .featured_text h3 {
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-family: var(--font-family-secondary);
    font-size: clamp(30px, 3.33vw, 40px);
    line-height: 50px;
    color: #181e28;
}
.card .card__body .featured_text p {
    margin: 0;
    padding: 0;
}
.card .card__body .featured_text p.sub {
    font-family: var(--font-family-secondary);
    font-size: clamp(18px, 1.35vw, 24px);
    text-transform: uppercase;
    color: #686e77;
    font-weight: 300;
    margin-bottom: 5px;
}
.card .card__body .featured_text p.price {
    font-family: var(--font-family-opensans);
    color: #252525;
    font-size: 26px;
}
.card .card__body .image {
    padding-top: 15px;
    width: 100%;
}
.card .card__body .image img {
    display: block;
    max-width: 100%;
    height: auto;
}
.card .card__body .description {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.desc-li {
    margin: 0;
    font-family: var(--font-family-jost);
    font-weight: normal;
    line-height: 27px;
    font-size: 16px;
    color: #555;
}

.card .card__body span.stock {
    font-family: var(--font-family-secondary);
    font-weight: 600;
    color: #a1cc16;
}
.card .card__body .reviews .stars {
    display: inline-block;
    list-style: none;
    padding: 0;
}
.card .card__body .reviews .stars > li {
    display: inline-block;
}
.card .card__body .reviews .stars > li .fa {
    color: #f7c01b;
}
.card .card__body .reviews > span {
    font-family: var(--font-family-opensans);
    font-size: 14px;
    margin-left: 5px;
    color: #555;
}
.card .card__footer {
    padding: 30px 40px;
    display: flex;
    flex-flow: row no-wrap;
    align-items: center;
    position: relative;
}
.card .card__footer::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 40px;
    width: calc(100% - 40px);
    height: 3px;
    background: #115dd8;
    background: linear-gradient(
        to right,
        #115dd8 0%,
        #115dd8 20%,
        #ddd 20%,
        #ddd 100%
    );
}
.card .card__footer .recommend {
    flex: 1 0 10px;
}
.card .card__footer .recommend p {
    margin: 0;
    font-family: var(--font-family-secondary);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #555;
}
.card .card__footer .recommend h3 {
    margin: 0;
    font-size: 20px;
    font-family: var(--font-family-secondary);
    font-weight: 600;
    text-transform: uppercase;
    color: #115dd8;
}
.card .card__footer .action a {
    cursor: pointer;
    border: 1px solid #115dd8;
    padding: 14px 30px;
    border-radius: 200px;
    color: #fff;
    background: #115dd8;
    font-family: var(--font-family-opensans);
    font-size: 16px;
    transition: 200ms;
}
.card .card__footer .action a:hover {
    background: #fff;
    color: #115dd8;
}

@media (max-width: 1024px) {
    .main-item-intro {
        max-width: 38rem;
    }

    .intro-description p {
        font-size: var(--font-size-base);
    }

    /* Products styles css */
}

@media (min-width: 991px) {
    .benefits-list-item:hover .benefits-list-icon {
        transform: scale(1.15, 1.15) !important;
        opacity: 0.6 !important;
    }

    .benefits-list-item:hover .benefits-notice-title {
        opacity: 1;
        z-index: 1;
    }

    .capabilities-img-last {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 991px) {
    :root {
        --container-padding-x: 30px;
        --font-size-base: 18px;
    }

    .margin-y {
        margin-top: 20px;
    }

    .left-text-container {
        text-align: center;
    }

    .header-item {
        flex-wrap: wrap;
        position: relative;
    }

    .header-menu {
        display: flex;
        column-gap: 20px;
        align-items: center;
    }

    .header-menu-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        padding-block: 0px;
        position: absolute;
        overflow: hidden;
        left: 0;
        top: 100%;
        max-height: 0;
        box-shadow: 0 6px 6px rgba(45, 45, 45, 0.15);
    }

    .header-menu-item {
        width: 100%;
        min-height: auto;
        padding-block: 12px;
    }

    .header-menu-item:last-child {
        display: none;
    }

    .header-menu-item :where(a, button) {
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    .popover.responsive-popover {
        display: block;
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        row-gap: 0px;
        opacity: 1;
        z-index: 1;
    }

    .main-item-background {
        flex-direction: column;
        align-items: flex-start;
        min-height: auto;
        padding-block: 80px;
        row-gap: 80px;
        padding-inline: var(--container-padding-x);
    }

    .main-item-logo {
        border-top-left-radius: 100px;
        border-bottom-right-radius: 100px;
        position: relative;
        width: 100%;
    }

    .benefits-item {
        padding-block: 64px;
    }

    .benefits-list {
        width: 100%;
        flex-direction: column;
    }

    .benefits-list-item {
        width: 100%;
    }

    .benefits-list-item:not(:last-child)::after {
        width: 100%;
        height: 2px;
        top: 100%;
        left: 0%;
    }

    .benefits-notice-title {
        position: relative;
        left: 0;
        z-index: 1;
        opacity: 1;
        background: inherit;
        transform: scale(1, 1) translate(0px, 0);
        box-shadow: none;
    }

    .benefits-notice-title::before {
        display: none;
    }

    .capabilities-list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-auto-flow: column;
        grid-column-gap: 0px;
    }

    .capabilities-img img {
        width: 100%;
    }

    .capabilities-wide-item {
        flex-direction: column;
    }

    .work-stages-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-auto-flow: row;
        grid-row-gap: 70px;
    }

    .basic-flex-container {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-columns: 1fr;
    }

    .experience-title {
        width: 100%;
    }

    .footer-main-inner {
        flex-direction: column;
        row-gap: 60px;
    }

    .footer-left-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    /* Product styles css */

    .select-category {
        grid-template-columns: 30% 1fr;
    }

    .card__body {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .main-item {
        padding-block: 48px;
        row-gap: 48px;
    }

    .main-item-intro {
        max-width: 100%;
        row-gap: 0px;
        padding-right: 0;
    }

    .intro-description p {
        font-size: 15px;
    }

    .main-item-background {
        padding-block: 0px;
        row-gap: 35px;
    }

    .action-block {
        row-gap: 30px;
        flex-direction: column;
    }

    .work-stages-list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-auto-flow: column;
    }

    .card__body {
        flex-direction: column;
    }
    /* Products style css */

    .select-category {
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
    }

    .category-items {
        padding: 0;
        flex-direction: column;
    }

    .hover-dropdown {
        height: 0;
        width: 100%;
        position: relative;
        left: 0;
        margin-left: 0;
        overflow: hidden;
        opacity: 1;
        z-index: 1;
        box-shadow: 0 0 0 0 !important;
        border: 0px;
    }

    .category-items:focus-within .hover-dropdown {
        height: auto;
    }

    .dark-link:focus-within .arrow-icon {
        transform: rotate(360deg);
    }
}

@media (max-width: 490px) {
    :root {
        --container-padding-x: 20px;
    }

    .basic-header {
        margin-bottom: 0;
    }

    .notification-item {
        justify-content: center;
    }

    .notification-num {
        display: none;
    }

    .main-item-intro {
        row-gap: 0px;
    }

    .main-item-action {
        flex-direction: column;
        row-gap: 16px;
    }

    /* Product styles css */

    .card .card__body {
        padding: 10px;
    }

    .intro-description p {
        font-size: 18px;
    }

    .main-item-background {
        row-gap: 40px;
    }

    .main-item-logo {
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .capabilities-list-item {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-auto-flow: column;
    }

    .footer-left-inner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 48px;
    }

    .footer-menu-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-extra {
        flex-direction: column;
        row-gap: 30px;
    }
}
